body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
header{
    width: 1080px;
    height: auto;
    position: relative;
    p{
        font-family: 'Inconsolata', monospace;
        font-weight: bold;
        font-size: 24px;
        font-style: normal;
        position: absolute;
        left: 77px;
        top: 40px;
        width: 133px;
        height: 25px;
        letter-spacing: -2px;
    }
}
.section1{
    margin-top: 265px;
    display: flex;
    justify-content: center;
    margin-bottom: 349px;
    img{
        width: 539px;
    }
    .para{
        margin-left:118px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .title{
        font-family: Space Mono;
        font-style: normal;
        font-weight: bold;
        font-size: 64px;
        line-height: 95px;
        letter-spacing: -0.035em;
        width: 586px;

        /* Gray 1 */

        color: #333333;
    }
    .para1{
        width: 381px;
        height: 108px;
        left: 736px;
        font-family: Space Mono;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 36px;
        letter-spacing: -0.035em;

        /* Gray 2 */

        color: #4F4F4F;
    }
    a{
        display: flex;
        justify-content: center;
        align-items: center;
        background: #333333;
        font-family: Space Mono;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        width: 216px;
        height: 68px;
        /*     line-height: 21px; */
        /* identical to box height */

        letter-spacing: -0.035em;
        text-transform: uppercase;

        color: #FFFFFF;
        text-decoration: none;
    }
    a:hover{
        background:#5a5a5a;
        color: #000000;
    }
}